<div class="container">
    <div class="row">
        <div class="col-sm-3 search-leftContainer">
            <section class="product-verticalFilters">
                <div class="vertical-filters filter-header">
                    <span class="header-title">FILTERS</span>
                </div>
                <div class="vertical-filters categories-container"><span
                        class="vertical-filters-header">Categories</span>
                    <ul class="categories-list">
                        <li><label class="common-customCheckbox vertical-filters-label"><input type="checkbox"
                                    value="Tshirts">Tshirts
                                <span class="count-num">(61813) </span>
                                <div class="common-checkboxIndicator"></div>
                            </label>
                        </li>
                        <li><label class="common-customCheckbox vertical-filters-label"><input type="checkbox"
                                    value="Tshirts">Tshirts
                                <span class="count-num">(61813) </span>
                                <div class="common-checkboxIndicator"></div>
                            </label>
                        </li>
                        <li><label class="common-customCheckbox vertical-filters-label"><input type="checkbox"
                                    value="Tshirts">Tshirts
                                <span class="count-num">(61813) </span>
                                <div class="common-checkboxIndicator"></div>
                            </label>
                        </li>
                    </ul>
                </div>
                <div class="vertical-filters brands-container"><span class="vertical-filters-header">Brands</span>
                    <ul class="categories-list">
                        <li><label class="common-customCheckbox vertical-filters-label"><input type="checkbox"
                                    value="Tshirts">Tshirts
                                <span class="count-num">(61813) </span>
                                <div class="common-checkboxIndicator"></div>
                            </label>
                        </li>
                        <li><label class="common-customCheckbox vertical-filters-label"><input type="checkbox"
                                    value="Tshirts">Tshirts
                                <span class="count-num">(61813) </span>
                                <div class="common-checkboxIndicator"></div>
                            </label>
                        </li>
                        <li><label class="common-customCheckbox vertical-filters-label"><input type="checkbox"
                                    value="Tshirts">Tshirts
                                <span class="count-num">(61813) </span>
                                <div class="common-checkboxIndicator"></div>
                            </label>
                        </li>
                    </ul>
                </div>
                <div class="vertical-filters brands-container"><span class="vertical-filters-header">Price</span>
                    <ul class="categories-list">
                        <li><label class="common-customCheckbox vertical-filters-label"><input type="checkbox"
                                    value="Tshirts">Tshirts
                                <span class="count-num">(61813) </span>
                                <div class="common-checkboxIndicator"></div>
                            </label>
                        </li>
                        <li><label class="common-customCheckbox vertical-filters-label"><input type="checkbox"
                                    value="Tshirts">Tshirts
                                <span class="count-num">(61813) </span>
                                <div class="common-checkboxIndicator"></div>
                            </label>
                        </li>
                        <li><label class="common-customCheckbox vertical-filters-label"><input type="checkbox"
                                    value="Tshirts">Tshirts
                                <span class="count-num">(61813) </span>
                                <div class="common-checkboxIndicator"></div>
                            </label>
                        </li>
                    </ul>
                </div>
            </section>
        </div>
        <div class="col-sm-9 search-rightContainer">
            <div class="">
                <section class="horizontal-filters-base">
                    <div class="horizontal-filters-sortContainer">
                        <div class="sort-sortBy">
                            Sort by :
                            <span>Recommended</span><span
                                class="myntraweb-sprite sort-downArrow sprites-downArrow"></span>
                            <ul class="sort-list">
                                <li><label class="sort-label "><input type="radio" value="new">
                                        What's New</label></li>
                                <li><label class="sort-label "><input type="radio" value="popularity">Popularity
                                    </label></li>
                                <li><label class="sort-label "><input type="radio" value="discount">
                                        Better Discount
                                    </label></li>
                                <li><label class="sort-label "><input type="radio" value="price_desc">
                                        Price: High to Low
                                    </label></li>
                                <li><label class="sort-label "><input type="radio" value="price_asc">
                                        Price: Low to High
                                    </label></li>
                                <li><label class="sort-label "><input type="radio" value="delivery_time">
                                        Faster Delivery
                                    </label></li>
                            </ul>
                        </div>
                    </div>
                    <div class="atsa-base">
                        <ul class="atsa-filters">
                            <li><label class=""><input type="radio" value="Bundles">
                                    <h4 class="atsa-title">Bundles

                                    </h4><span class="atsa-downArrow sprites-arrowDownBold myntraweb-sprite"></span>
                                </label></li>
                            <li><label class=""><input type="radio" value="size_facet">
                                    <h4 class="atsa-title">Size
                                    </h4><span class="atsa-downArrow sprites-arrowDownBold myntraweb-sprite"></span>
                                </label></li>
                            <li></li>
                        </ul>
                        <div class="atsa-atsaFiltersOptionCtn">
                            <ul class="atsa-values atsa-hidden"></ul>
                        </div>
                    </div>
                </section>
                <section>
                    <ul class="results-base">
                        <li class="product-base">
                            <div class="product-thumbShim"></div><a target="_blank"
                                href="#"
                                style="display: block;">
                                <div class="product-imageSliderContainer">
                                    <div class="product-sliderContainer" style="display: block;">
                                        <div style="background: rgb(229, 241, 255);">
                                            <div style="height: 280px; width: 100%;">
                                                <picture class="img-responsive"
                                                    style="width: 100%; height: 100%; display: block;">
                                                    <source
                                                        srcset="
                            https://assets.myntassets.com/f_webp,dpr_1.0,q_60,w_210,c_limit,fl_progressive/assets/images/11037382/2020/1/30/56c725dd-1bae-42d3-9783-000d1bbf16b11580387158239-ether-Men-Tshirts-5411580387156191-1.jpg ,
                            https://assets.myntassets.com/f_webp,dpr_1.5,q_60,w_210,c_limit,fl_progressive/assets/images/11037382/2020/1/30/56c725dd-1bae-42d3-9783-000d1bbf16b11580387158239-ether-Men-Tshirts-5411580387156191-1.jpg 1.5x,
                            https://assets.myntassets.com/f_webp,dpr_1.8,q_60,w_210,c_limit,fl_progressive/assets/images/11037382/2020/1/30/56c725dd-1bae-42d3-9783-000d1bbf16b11580387158239-ether-Men-Tshirts-5411580387156191-1.jpg 1.8x,
                            https://assets.myntassets.com/f_webp,dpr_2.0,q_60,w_210,c_limit,fl_progressive/assets/images/11037382/2020/1/30/56c725dd-1bae-42d3-9783-000d1bbf16b11580387158239-ether-Men-Tshirts-5411580387156191-1.jpg 2.0x,
                            https://assets.myntassets.com/f_webp,dpr_2.2,q_60,w_210,c_limit,fl_progressive/assets/images/11037382/2020/1/30/56c725dd-1bae-42d3-9783-000d1bbf16b11580387158239-ether-Men-Tshirts-5411580387156191-1.jpg 2.2x,
                            https://assets.myntassets.com/f_webp,dpr_2.4,q_60,w_210,c_limit,fl_progressive/assets/images/11037382/2020/1/30/56c725dd-1bae-42d3-9783-000d1bbf16b11580387158239-ether-Men-Tshirts-5411580387156191-1.jpg 2.4x,
                            https://assets.myntassets.com/f_webp,dpr_2.6,q_60,w_210,c_limit,fl_progressive/assets/images/11037382/2020/1/30/56c725dd-1bae-42d3-9783-000d1bbf16b11580387158239-ether-Men-Tshirts-5411580387156191-1.jpg 2.6x,
                            https://assets.myntassets.com/f_webp,dpr_2.8,q_60,w_210,c_limit,fl_progressive/assets/images/11037382/2020/1/30/56c725dd-1bae-42d3-9783-000d1bbf16b11580387158239-ether-Men-Tshirts-5411580387156191-1.jpg 2.8x"
                                                        type="image/webp"><img
                                                        src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/11037382/2020/1/30/56c725dd-1bae-42d3-9783-000d1bbf16b11580387158239-ether-Men-Tshirts-5411580387156191-1.jpg"
                                                        class="img-responsive"
                                                        alt="ether Men White Solid Round Neck T-shirt With Side Stripes"
                                                        title="ether Men White Solid Round Neck T-shirt With Side Stripes"
                                                        style="width: 100%; display: block;"></picture>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-productMetaInfo">
                                    <h3 class="product-brand">ether</h3>
                                    <h4 class="product-product">Solid Round Neck T-shirt</h4>
                                    <h4 class="product-sizes">
                                        <!-- react-text: 396 -->Sizes:
                                        <!-- /react-text --><span class="product-sizeInventoryPresent">S, </span><span
                                            class="product-sizeInventoryPresent">M, </span><span
                                            class="product-sizeInventoryPresent">L, </span><span
                                            class="product-sizeInventoryPresent">XL, </span><span
                                            class="product-sizeInventoryPresent">XXL</span></h4>
                                    <div class="product-price"><span><span class="product-discountedPrice">
                                                <!-- react-text: 405 -->Rs.
                                                <!-- /react-text -->
                                                <!-- react-text: 406 -->559
                                                <!-- /react-text --></span><span class="product-strike">
                                                <!-- react-text: 408 -->Rs.
                                                <!-- /react-text -->
                                                <!-- react-text: 409 -->799
                                                <!-- /react-text --></span></span><span
                                            class="product-discountPercentage">(30% OFF)</span></div>
                                </div>
                            </a>
                            <div class="image-grid-similarColorsCta product-similarItemCta"><span
                                    class="myntraweb-sprite image-grid-similarColorsIcon sprites-similarProductsIcon"></span><span
                                    class="image-grid-iconText">VIEW SIMILAR</span></div>
                            <div class="product-actions "><span class="product-actionsButton product-addToBag"><span>Add
                                        to bag</span></span><span class="product-actionsButton product-wishlist ">
                                    wishlist</span></div>
                            <div class="product-sizeDisplayDiv">
                                <div class="product-sizeDisplayHeader"><span>Select a size</span><span
                                        class="myntraweb-sprite product-sizeDisplayRemoveMark sprites-remove"></span>
                                </div>
                                <div class="product-sizeButtonsContaier">
                                    <button
                                        class="product-sizeButton">S</button><button
                                        class="product-sizeButton">M</button><button
                                        class="product-sizeButton">L</button><button
                                        class="product-sizeButton">XL</button><button
                                        class="product-sizeButton">XXL</button></div>
                            </div>
                        </li>
                    </ul>
                </section>
            </div>
        </div>
    </div>
</div>