<div class="container">
    <div class="row">
        <div class="col-sm-3 search-leftContainer">
            <section class="product-verticalFilters">
                <div class="vertical-filters filter-header">
                    <span class="header-title">FILTERS</span>
                </div>
                <div class="vertical-filters categories-container"><span
                        class="vertical-filters-header">Categories</span>
                    <ul class="categories-list">
                        <li><label class="common-customCheckbox vertical-filters-label"><input type="checkbox"
                                    value="Tshirts">Tshirts
                                <span class="count-num">(61813) </span>
                                <div class="common-checkboxIndicator"></div>
                            </label>
                        </li>
                        <li><label class="common-customCheckbox vertical-filters-label"><input type="checkbox"
                                    value="Tshirts">Tshirts
                                <span class="count-num">(61813) </span>
                                <div class="common-checkboxIndicator"></div>
                            </label>
                        </li>
                        <li><label class="common-customCheckbox vertical-filters-label"><input type="checkbox"
                                    value="Tshirts">Tshirts
                                <span class="count-num">(61813) </span>
                                <div class="common-checkboxIndicator"></div>
                            </label>
                        </li>
                    </ul>
                </div>
                <div class="vertical-filters brands-container"><span class="vertical-filters-header">Brands</span>
                    <ul class="categories-list">
                        <li><label class="common-customCheckbox vertical-filters-label"><input type="checkbox"
                                    value="Tshirts">Tshirts
                                <span class="count-num">(61813) </span>
                                <div class="common-checkboxIndicator"></div>
                            </label>
                        </li>
                        <li><label class="common-customCheckbox vertical-filters-label"><input type="checkbox"
                                    value="Tshirts">Tshirts
                                <span class="count-num">(61813) </span>
                                <div class="common-checkboxIndicator"></div>
                            </label>
                        </li>
                        <li><label class="common-customCheckbox vertical-filters-label"><input type="checkbox"
                                    value="Tshirts">Tshirts
                                <span class="count-num">(61813) </span>
                                <div class="common-checkboxIndicator"></div>
                            </label>
                        </li>
                    </ul>
                </div>
                <div class="vertical-filters brands-container"><span class="vertical-filters-header">Price</span>
                    <ul class="categories-list">
                        <li><label class="common-customCheckbox vertical-filters-label"><input type="checkbox"
                                    value="Tshirts">Tshirts
                                <span class="count-num">(61813) </span>
                                <div class="common-checkboxIndicator"></div>
                            </label>
                        </li>
                        <li><label class="common-customCheckbox vertical-filters-label"><input type="checkbox"
                                    value="Tshirts">Tshirts
                                <span class="count-num">(61813) </span>
                                <div class="common-checkboxIndicator"></div>
                            </label>
                        </li>
                        <li><label class="common-customCheckbox vertical-filters-label"><input type="checkbox"
                                    value="Tshirts">Tshirts
                                <span class="count-num">(61813) </span>
                                <div class="common-checkboxIndicator"></div>
                            </label>
                        </li>
                    </ul>
                </div>
            </section>
        </div>
        <div class="col-sm-9 search-rightContainer">
            <div class="">
                <section class="horizontal-filters-base">
                    <div class="horizontal-filters-sortContainer">
                        <div class="sort-sortBy">
                            Sort by :
                            <span>Recommended</span><span
                                class="myntraweb-sprite sort-downArrow sprites-downArrow"></span>
                            <ul class="sort-list">
                                <li><label class="sort-label "><input type="radio" value="new">
                                        What's New</label></li>
                                <li><label class="sort-label "><input type="radio" value="popularity">Popularity
                                    </label></li>
                                <li><label class="sort-label "><input type="radio" value="discount">
                                        Better Discount
                                    </label></li>
                                <li><label class="sort-label "><input type="radio" value="price_desc">
                                        Price: High to Low
                                    </label></li>
                                <li><label class="sort-label "><input type="radio" value="price_asc">
                                        Price: Low to High
                                    </label></li>
                                <li><label class="sort-label "><input type="radio" value="delivery_time">
                                        Faster Delivery
                                    </label></li>
                            </ul>
                        </div>
                    </div>
                    <div class="atsa-base">
                        <ul class="atsa-filters">
                            <li><label class=""><input type="radio" value="Bundles">
                                    <h4 class="atsa-title">Bundles

                                    </h4><span class="atsa-downArrow sprites-arrowDownBold myntraweb-sprite"></span>
                                </label></li>
                            <li><label class=""><input type="radio" value="size_facet">
                                    <h4 class="atsa-title">Size
                                    </h4><span class="atsa-downArrow sprites-arrowDownBold myntraweb-sprite"></span>
                                </label></li>
                            <li></li>
                        </ul>
                        <div class="atsa-atsaFiltersOptionCtn">
                            <ul class="atsa-values atsa-hidden"></ul>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>