<!-- <div class="container">
    <div class="discovery margin-tb-20">
        <div class="unit-title">
            <h2>Top Rated Products</h2>
        </div>
        <div class="products-list">
            <div class="product-box margin-right-15">
                <img src="" />
                <a href=""></a>
            </div>
            <div class="product-box margin-right-15">
                <img src="" />
                <a href=""></a>
            </div>
            <div class="product-box margin-right-15">
                <img src="" />
                <a href=""></a>
            </div>
            <div class="product-box margin-right-15">
                <img src="" />
                <a href=""></a>
            </div>
            <div class="product-box margin-right-15">
                <img src="" />
                <a href=""></a>
            </div>
        </div>
    </div>
</div> -->
<div class="collection-product-wrapper">
    <div class="product-top-filter">
        <div class="container-fluid p-0">
            <div class="row">
                <div class="col-xl-12">
                    <div class="filter-main-btn"><span
                            class="filter-btn btn btn-theme"><i class="fa fa-filter"
                                aria-hidden="true"></i> Filter </span></div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="product-filter-content">
                        <div class="search-count">
                            <h5 class="ng-tns-c12-1">Showing Products 1-137</h5>
                        </div>
                        <div class="collection-grid-view">
                            <ul class="ng-tns-c12-1">
                                <li class="ng-tns-c12-1"><img 
                                        class="product-2-layout-view" src="assets/images/icon/2.png"></li>
                                <li class="ng-tns-c12-1"><img 
                                        class="product-3-layout-view" src="assets/images/icon/3.png"></li>
                                <li class="ng-tns-c12-1"><img 
                                        class="product-4-layout-view" src="assets/images/icon/4.png"></li>
                                <li class="ng-tns-c12-1"><img 
                                        class="product-6-layout-view" src="assets/images/icon/6.png"></li>
                            </ul>
                        </div>
                        <div class="product-page-filter"><select 
                                class="ng-tns-c12-1">
                                <option class="ng-tns-c12-1" value="asc">Sorting items</option>
                                <option class="ng-tns-c12-1" value="asc">Ascending Order</option>
                                <option class="ng-tns-c12-1" value="desc">Descending Order
                                </option>
                                <option class="ng-tns-c12-1" value="a-z">Alphabetically, A-Z
                                </option>
                                <option class="ng-tns-c12-1" value="z-a">Alphabetically, Z-A
                                </option>
                                <option class="ng-tns-c12-1" value="low">Price, low to high
                                </option>
                                <option class="ng-tns-c12-1" value="high">Price, high to low
                                </option>
                            </select></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="product-wrapper-grid">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-3 col-md-6 col-grid-box ng-tns-c12-1 ng-star-inserted">
                    <div class="product-box">
                        <div class="img-wrapper">
                            <div class="lable-block">
                                <!----><span class="lable3 ng-star-inserted">new</span>
                                <!----><span class="lable4 ng-star-inserted">on sale</span></div>
                            <div class="front"><a href="/multikart/home/left-sidebar/product/1"><img alt=""
                                        class="img-fluid" src="assets/images/fashion/product/1.jpg"></a></div>
                            <ul class="product-thumb-list">
                                <!---->
                                <li class="grid_thumb_img ng-star-inserted"><a href="null"><img
                                            src="assets/images/fashion/product/1.jpg"></a></li>
                                <li class="grid_thumb_img ng-star-inserted"><a href="null"><img
                                            src="assets/images/fashion/product/21.jpg"></a></li>
                                <li class="grid_thumb_img ng-star-inserted"><a href="null"><img
                                            src="assets/images/fashion/product/36.jpg"></a></li>
                            </ul>
                            <!---->
                            <div class="cart-info cart-wrap ng-star-inserted"><a data-placement="left"
                                    data-toggle="modal" title="Add to cart" data-target="#addtocart1" href="null"><i
                                        class="ti-shopping-cart"></i></a><a title="Add to Wishlist" href="null"><i
                                        aria-hidden="true" class="ti-heart"></i></a><a data-toggle="modal"
                                    title="Quick View" data-target="#quick-view1" href="null"><i aria-hidden="true"
                                        class="ti-search"></i></a><a title="Compare" href="/multikart/home/compare"><i
                                        aria-hidden="true" class="ti-reload"></i></a></div>
                        </div>
                        <div class="product-detail">
                            <div>
                                <div class="br br-default br-readonly">
                                    <div class="br-units">
                                        <!---->
                                        <div class="br-unit br-selected ng-star-inserted"></div>
                                        <div class="br-unit br-selected ng-star-inserted"></div>
                                        <div class="br-unit br-selected ng-star-inserted"></div>
                                        <div class="br-unit br-selected ng-star-inserted"></div>
                                        <div class="br-unit br-selected ng-star-inserted"></div>
                                    </div>
                                    <!---->
                                </div><a href="/multikart/home/left-sidebar/product/1">
                                    <h6>Flare Dress</h6>
                                </a>
                                <!---->
                                <h4 class="ng-star-inserted">$100.00 <del><span class="money">$200.00</span></del></h4>
                                <!---->
                                <ul class="color-variant ng-star-inserted">
                                    <!---->
                                    <li class="yellow ng-star-inserted"></li>
                                    <li class="gray ng-star-inserted"></li>
                                    <li class="green ng-star-inserted"></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!---->
                    <div infinitescroll="" class="ng-tns-c12-1 ng-star-inserted"></div>
                </div>
            </div>
        </div>
    </div>
</div>