<div class="container--light-grey">
    <div class="container brand-testimonials--testimonials-container">
        <div class="brand-testimonials--testimonials__header">What our students have to say</div>
        <div class="carousel-container">
            <div class="brand-testimonials--testimonial-card">
                <div class="brand-testimonials--reviewer-info">
                    <div><img alt="Borivoje" aria-label="Borivoje"
                            class="brand-testimonials--avatar user-avatar user-avatar--image" data-purpose="user-avatar"
                            height="64" width="64" src="https://i.udemycdn.com/user/100x100/8872940_27b4_3.jpg"></div>
                    <div>
                        <div>Borivoje</div>
                    </div>
                </div>
                <div class="brand-testimonials--testimonial-content">Udemy is a life saver. I don't have the time
                    or money for a college education. My goal is to become a freelance web developer, and thanks to
                    Udemy, I'm really close. </div>
            </div>
            <div class="brand-testimonials--testimonial-card">
                <div class="brand-testimonials--reviewer-info">
                    <div><img alt="Borivoje" aria-label="Borivoje"
                            class="brand-testimonials--avatar user-avatar user-avatar--image" data-purpose="user-avatar"
                            height="64" width="64" src="https://i.udemycdn.com/user/100x100/8872940_27b4_3.jpg"></div>
                    <div>
                        <div>Borivoje</div>
                    </div>
                </div>
                <div class="brand-testimonials--testimonial-content">Udemy is a life saver. I don't have the time
                    or money for a college education. My goal is to become a freelance web developer, and thanks to
                    Udemy, I'm really close. </div>
            </div>
            <div class="brand-testimonials--testimonial-card">
                <div class="brand-testimonials--reviewer-info">
                    <div><img alt="Borivoje" aria-label="Borivoje"
                            class="brand-testimonials--avatar user-avatar user-avatar--image" data-purpose="user-avatar"
                            height="64" width="64" src="https://i.udemycdn.com/user/100x100/8872940_27b4_3.jpg"></div>
                    <div>
                        <div>Borivoje</div>
                    </div>
                </div>
                <div class="brand-testimonials--testimonial-content">Udemy is a life saver. I don't have the time
                    or money for a college education. My goal is to become a freelance web developer, and thanks to
                    Udemy, I'm really close. </div>
            </div>
            <div class="brand-testimonials--testimonial-card">
                <div class="brand-testimonials--reviewer-info">
                    <div><img alt="Borivoje" aria-label="Borivoje"
                            class="brand-testimonials--avatar user-avatar user-avatar--image" data-purpose="user-avatar"
                            height="64" width="64" src="https://i.udemycdn.com/user/100x100/8872940_27b4_3.jpg"></div>
                    <div>
                        <div>Borivoje</div>
                    </div>
                </div>
                <div class="brand-testimonials--testimonial-content">Udemy is a life saver. I don't have the time
                    or money for a college education. My goal is to become a freelance web developer, and thanks to
                    Udemy, I'm really close. </div>
            </div>
        </div>
    </div>
</div>