/* You can add global styles to this file, and also import other style files */
@import 'assets/fonts/css/all.css';
/* body {
    font-family: Lato,sans-serif;
    line-height: 1.43;
    background: #fff;
    font-size: 14px;
} */
body{
width: 100%;
    overflow-x: hidden;
    font-family: Whitney,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.margin-right-15{
    margin-right: 15px;
}
.margin-tb-20{
    margin:20px 0px;
}
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 600;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 11px 12px;
    font-size: 15px;
    line-height: 1.35135;
    border-radius: 2px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.btn-primary {
    color: #fff;
    background-color: #ec5252;
    border: 1px solid transparent;
}
.btn-quintinary {
    color: #686f7a;
    background-color: transparent;
    border: 1px solid transparent;
}
.form-control {
    display: block;
    width: 100%;
    height: 44px;
    padding: 10px 12px;
    font-size: 16px;
    line-height: 1.43;
    color: #29303b;
    background-color: #fff;
    background-image: none;
    border: 1px solid #cacbcc;
    border-radius: 2px;
    box-shadow: none;
    transition: border-color ease-in-out .08s,box-shadow ease-in-out .08s;
}
.input-group .form-control {
    position: relative;
    z-index: 2;
    width: 100%;
    margin-bottom: 0;
}
.bh_header .dropdown--open-on-hover:hover .dropdown-toggle, .bh_header .dropdown--open-on-hover.open .dropdown-toggle {
    background: rgba(20,23,28,.05);
    border-color: rgba(20,23,28,.05);
}
.dropdown-toggle::after {
    border:none;
}
.cart-icon{
    border-radius: 50%;
    padding: 12px 0;
    width: 45px;
}

/* slider CSS custom */
.slick-prev, .slick-next {
    position: absolute;
    display: block;
    height: 20px;
    width: 20px;
    line-height: 0px;
    font-size: 0px;
    cursor: pointer;
    background: transparent;
    color: transparent;
    top: 50%;
    transform: translate(0, -50%);
    padding: 0;
    border: none;
    outline: none;
    z-index: 1;
}
.slick-next {
    right: 0px;
}
.slick-prev {
    left: 0px;
}
/* product list css */
.products-list{
    display: flex;
}
.unit-title h2 {
    font-size: 19px;
    font-weight: 400;
    line-height: 1.47em;
    color: #505763;
}
.product-box{
    position: relative;
    text-align: left;
    vertical-align: top;
    width: 216px;
    height: 290px;
    box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);
}


/* testimonials styles */
.container--light-grey {
    background: #f7f8fa;
}
.carousel-container{
    display: flex;
}
.brand-testimonials--testimonials-container {
    height: 100%;
    padding: 32px 16px;
}
.brand-testimonials--testimonials__header {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.33em;
}
.brand-testimonials--testimonial-card{
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 3px 0 rgba(20,23,28,.15);
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 260px;
    padding: 32px;
}
.brand-testimonials--testimonial-card .brand-testimonials--reviewer-info{
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5em;
    align-items: center;
    display: flex;
    margin-bottom: 18px;
}
.brand-testimonials--testimonial-card .brand-testimonials--reviewer-info .brand-testimonials--avatar {
    margin-right: 18px;
}
.brand-testimonials--testimonial-card .brand-testimonials--reviewer-info .user-avatar {
    display: block;
}
.brand-testimonials--testimonial-card .brand-testimonials--testimonial-content{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5em;
}
/* new styles */

.small-section {
    padding-top: 35px;
    padding-bottom: 35px;
}
.border-section {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.footer-light{
    background-color: #f9f9f9;
}
.footer-light .subscribe {
    display: -webkit-box;
    display: flex;
    height: 100%;
    -webkit-box-align: center;
    align-items: center;
    border-right: 1px solid #ddd;
    text-align: left;
}
.btn-solid {
    padding: 13px 29px;
    color: #fff;
    letter-spacing: .05em;
    border: 2px solid #ff4c3b;
    background-image: linear-gradient(30deg,#ff4c3b 50%,transparent 0);
    background-size: 540px;
    background-repeat: no-repeat;
    background-position: 0;
    -webkit-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}
.section-b-space {
    padding-bottom: 70px;
}
.subscribe-form .form-control {
    padding: 13px;
    width: 345px;
    border-radius: 0;
    border: 1px solid #eee;
}
.sub-footer {
    background-color: #fff;
}
.section-b-space {
    padding-bottom: 70px;
}
.section-t-space, section {
    padding-top: 70px;
}
.footer-social, .social-white {
    margin-top: 40px;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.footer-social li, .social-white li {
    display: inline-block;
    padding-right: 45px;
}
.footer-theme .sub-title .contact-list li {
    position: relative;
    padding-left: 25px;
    line-height: 28px;
}
.footer-theme .sub-title .contact-list i {
    position: absolute;
    left: 0;
    top: 21px;
}
.footer-theme .sub-title h4 {
    color: #222;
    margin-bottom: 25px;
    text-transform: uppercase;
    font-weight: 700;
}
.footer-theme .sub-title li, .footer-theme .sub-title li a {
    position: relative;
    color: #777;
}
.footer-theme .sub-title li {
    display: inherit;
    padding-top: 13px;
    text-transform: capitalize;
    font-size: 14px;
}
.footer-theme .sub-title h4 {
    color: #222;
    margin-bottom: 25px;
    text-transform: uppercase;
    font-weight: 700;
}
a:hover {
    text-decoration: none;
}
a, a:hover {
    -webkit-transition: .5s ease;
    transition: .5s ease;
}
.footer-theme .sub-title li:hover a:before {
    width: 100%;
    height: 2px;
    -webkit-transition: .5s ease;
    transition: .5s ease;
}
.footer-theme .sub-title li a:before {
    position: absolute;
    top: 20px;
    content: "";
    height: 2px;
    width: 0;
    background-color: #ff4c3b;
    -webkit-transition: .5s ease;
    transition: .5s ease;
}
h3, h4 {
    font-weight: 400;
    letter-spacing: .03em;
}
h4 {
    font-size: 18px;
    text-transform: capitalize;
    line-height: 1;
}
ul {
    padding-left: 0;
    margin-bottom: 0;
}
.sub-footer p {
    color: #777;
    margin-bottom: 0;
    padding: 20px 0;
}
footer p {
    line-height: 32px;
    letter-spacing: .03em;
    margin-bottom: 0;
}
.sub-footer .payment-card-bottom {
    height: 100%;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: end;
    justify-content: flex-end;
}
p {
    font-size: 14px;
    color: #777;
    line-height: 1;
}
.sub-footer .payment-card-bottom li {
    padding-left: 7px;
    padding-right: 7px;
    display: inline-block;
}
.container {
    max-width: 1400px;
}

/* products list page styles */
.product-verticalFilters {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: margin .2s cubic-bezier(.25,.46,.45,.94);
    transition: margin .2s cubic-bezier(.25,.46,.45,.94);
    margin-top: 0;
    padding-top: 23px;
}
.header-container {
    position: relative;
    border-right: none!important;
    padding-top: 0;
}
.vertical-filters{
    padding-top: 20px;
    padding-bottom: 15px;
    padding-left: 25px;
    border-bottom: 1px solid #e9e9ed;
    position: relative;
    border-right: 1px solid #edebef;
}
.categories-container {
    position: relative;
}
.vertical-filters-header {
    font-weight: 500;
    text-transform: uppercase;
    font-size: 14px;
    margin: 0 0 18px;
    clear: both;
    color: #282c3f;
    display: block;
}
.search-leftContainer {
    min-width: 252px;
    max-width: 252px;
    -webkit-box-flex: 0!important;
    -ms-flex-positive: 0!important;
    flex-grow: 0!important;
}
.search-leftContainer ul {
    margin: 0;
    list-style-type: none;
}
.vertical-filters .vertical-filters-label {
    display: block;
    width: 95%;
    white-space: nowrap;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    min-height: 17px;
    color: #282c3f;
}
.common-customCheckbox {
    position: relative;
    cursor: pointer;
}
.common-customCheckbox input {
    margin: 0 16px 0 0;
    visibility: hidden;
}
.common-customCheckbox input:checked~.common-checkboxIndicator {
    border: none;
    background: #ff3f6c;
}
.common-checkboxIndicator {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
    border: 1px solid #c3c2c9;
    background: #fff;
    border-radius: 2px;
}
.common-checkboxIndicator:after {
    content: "";
    position: absolute;
    top: 4px;
    left: 4px;
    z-index: 1;
    width: 8px;
    height: 5px;
    border-color: #fff;
    border-style: none none solid solid;
    border-width: 2px;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.count-num {
    color: #94969f;
    font-size: 11px;
    margin-left: 4px;
}
[type=checkbox], [type=radio] {
    box-sizing: border-box;
    padding: 0;
}
.search-rightContainer {
    padding-left: 0;
}
.horizontal-filters-base {
    width: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    border-bottom: 1px solid #eaeaec;
    padding-bottom: 15px;
    padding-top: 23px;
}
.horizontal-filters-sortContainer {
    display: inline-block;
    float: right;
    margin-right: 30px;
    margin-bottom: 0;
    margin-top: -7px;
    position: relative;
    top: 5px;
}
.sort-sortBy {
    padding: 9px 14px;
    font-size: 14px;
    color: #282c3f;
    cursor: pointer;
    position: relative;
    width: 255px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 2px;
    background-color: #fff;
    border: 1px solid #d4d5d9;
}
.sort-sortBy span {
    text-transform: capitalize;
    font-weight: 500;
    color: #282c3f;
}
.sort-sortBy:hover {
    -webkit-box-shadow: 0 8px 10px 0 rgba(0,0,0,.08);
    box-shadow: 0 8px 10px 0 rgba(0,0,0,.08);
}
.sort-sortBy:hover .sort-list {
    display: block;
}
.sort-list li:hover {
    background-color: #f4f4f5;
}
ul.sort-list{
    list-style: none;
}
.sort-list {
    width: 255px;
    background-color: #fff;
    position: absolute;
    top: 33px;
    left: -1px;
    margin: 0;
    padding: 16px 0;
    z-index: 2;
    display: none;
    border: 1px solid #d4d5d9;
    border-top: none;
    -webkit-box-shadow: 0 8px 10px 0 rgba(0,0,0,.08);
    box-shadow: 0 8px 10px 0 rgba(0,0,0,.08);
}
.sort-list label {
    display: block;
    font-size: 14px;
    color: #282c3f;
    cursor: pointer;
    padding: 10px 20px;
}
.sort-label input {
    visibility: hidden;
    display: none;
}
.sort-downArrow {
    margin-left: 5px;
    margin-top: 5px;
    float: right;
}
.sprites-downArrow {
    background-position: -367px -1px;
    width: 15px;
    height: 10px;
}
.myntraweb-sprite {
    background: url(https://constant.myntassets.com/web/assets/img/b8817bd3-5993-48e4-9771-92e4e56…-MyntraWeb-Sprite.png);
    background-size: 1404px 105px;
    display: inline-block;
}
.atsa-filters {
    font-size: 14px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #282c3f;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    margin: -10px 0 0 16px;
}
.atsa-filters input {
    display: none;
}
ul.atsa-filters{
    padding: 0px;
    list-style: none;

}
.atsa-filters li {
    margin-right: 4px;
    margin-bottom: 0;
    margin-top: 10px;
    cursor: pointer;
}
.atsa-title {
    font-weight: 400;
    margin: 0;
    display: inline-block;
}
.atsa-downArrow, .atsa-upArrow {
    vertical-align: middle;
    -webkit-transform: scale(.8);
    transform: scale(.8);
    margin-left: 4px;
}
.atsa-filters .atsa-selected, .atsa-filters .atsa-selected:hover, .atsa-filters label:hover {
    border-radius: 20px;
    background-color: #f4f4f5;
}