/* You can add global styles to this file, and also import other style files */
@import 'assets/fonts/css/all.css';
body {
    font-family: Lato,sans-serif;
    line-height: 1.43;
    background: #fff;
    font-size: 14px;
}
.margin-right-15{
    margin-right: 15px;
}
.margin-tb-20{
    margin:20px 0px;
}
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 600;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 11px 12px;
    font-size: 15px;
    line-height: 1.35135;
    border-radius: 2px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.btn-primary {
    color: #fff;
    background-color: #ec5252;
    border: 1px solid transparent;
}
.btn-quintinary {
    color: #686f7a;
    background-color: transparent;
    border: 1px solid transparent;
}
.form-control {
    display: block;
    width: 100%;
    height: 44px;
    padding: 10px 12px;
    font-size: 16px;
    line-height: 1.43;
    color: #29303b;
    background-color: #fff;
    background-image: none;
    border: 1px solid #cacbcc;
    border-radius: 2px;
    box-shadow: none;
    transition: border-color ease-in-out .08s,box-shadow ease-in-out .08s;
}
.input-group .form-control {
    position: relative;
    z-index: 2;
    width: 100%;
    margin-bottom: 0;
}
.bh_header .dropdown--open-on-hover:hover .dropdown-toggle, .bh_header .dropdown--open-on-hover.open .dropdown-toggle {
    background: rgba(20,23,28,.05);
    border-color: rgba(20,23,28,.05);
}
.dropdown-toggle::after {
    border:none;
}
.cart-icon{
    border-radius: 50%;
    padding: 12px 0;
    width: 45px;
}

/* slider CSS custom */
.slick-prev, .slick-next {
    position: absolute;
    display: block;
    height: 20px;
    width: 20px;
    line-height: 0px;
    font-size: 0px;
    cursor: pointer;
    background: transparent;
    color: transparent;
    top: 50%;
    transform: translate(0, -50%);
    padding: 0;
    border: none;
    outline: none;
    z-index: 1;
}
.slick-next {
    right: 0px;
}
.slick-prev {
    left: 0px;
}
/* product list css */
.products-list{
    display: flex;
}
.unit-title h2 {
    font-size: 19px;
    font-weight: 400;
    line-height: 1.47em;
    color: #505763;
}
.product-box{
    position: relative;
    text-align: left;
    vertical-align: top;
    width: 216px;
    height: 290px;
    box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);
}


/* testimonials styles */
.container--light-grey {
    background: #f7f8fa;
}
.carousel-container{
    display: flex;
}
.brand-testimonials--testimonials-container {
    height: 100%;
    padding: 32px 16px;
}
.brand-testimonials--testimonials__header {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.33em;
}
.brand-testimonials--testimonial-card{
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 3px 0 rgba(20,23,28,.15);
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 260px;
    padding: 32px;
}
.brand-testimonials--testimonial-card .brand-testimonials--reviewer-info{
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5em;
    align-items: center;
    display: flex;
    margin-bottom: 18px;
}
.brand-testimonials--testimonial-card .brand-testimonials--reviewer-info .brand-testimonials--avatar {
    margin-right: 18px;
}
.brand-testimonials--testimonial-card .brand-testimonials--reviewer-info .user-avatar {
    display: block;
}
.brand-testimonials--testimonial-card .brand-testimonials--testimonial-content{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5em;
}
/* new styles */

.small-section {
    padding-top: 35px;
    padding-bottom: 35px;
}
.border-section {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.footer-light{
    background-color: #f9f9f9;
}
.footer-light .subscribe {
    display: -webkit-box;
    display: flex;
    height: 100%;
    -webkit-box-align: center;
    align-items: center;
    border-right: 1px solid #ddd;
    text-align: left;
}
.btn-solid {
    padding: 13px 29px;
    color: #fff;
    letter-spacing: .05em;
    border: 2px solid #ff4c3b;
    background-image: linear-gradient(30deg,#ff4c3b 50%,transparent 0);
    background-size: 540px;
    background-repeat: no-repeat;
    background-position: 0;
    -webkit-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}
.section-b-space {
    padding-bottom: 70px;
}
.subscribe-form .form-control {
    padding: 13px;
    width: 345px;
    border-radius: 0;
    border: 1px solid #eee;
}
.sub-footer {
    background-color: #fff;
}
.section-b-space {
    padding-bottom: 70px;
}
.section-t-space, section {
    padding-top: 70px;
}
.footer-social, .social-white {
    margin-top: 40px;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.footer-social li, .social-white li {
    display: inline-block;
    padding-right: 45px;
}
.footer-theme .sub-title .contact-list li {
    position: relative;
    padding-left: 25px;
    line-height: 28px;
}
.footer-theme .sub-title .contact-list i {
    position: absolute;
    left: 0;
    top: 21px;
}
.footer-theme .sub-title h4 {
    color: #222;
    margin-bottom: 25px;
    text-transform: uppercase;
    font-weight: 700;
}
.footer-theme .sub-title li, .footer-theme .sub-title li a {
    position: relative;
    color: #777;
}
.footer-theme .sub-title li {
    display: inherit;
    padding-top: 13px;
    text-transform: capitalize;
    font-size: 14px;
}
.footer-theme .sub-title h4 {
    color: #222;
    margin-bottom: 25px;
    text-transform: uppercase;
    font-weight: 700;
}
a:hover {
    text-decoration: none;
}
a, a:hover {
    -webkit-transition: .5s ease;
    transition: .5s ease;
}
.footer-theme .sub-title li:hover a:before {
    width: 100%;
    height: 2px;
    -webkit-transition: .5s ease;
    transition: .5s ease;
}
.footer-theme .sub-title li a:before {
    position: absolute;
    top: 20px;
    content: "";
    height: 2px;
    width: 0;
    background-color: #ff4c3b;
    -webkit-transition: .5s ease;
    transition: .5s ease;
}
h3, h4 {
    font-weight: 400;
    letter-spacing: .03em;
}
h4 {
    font-size: 18px;
    text-transform: capitalize;
    line-height: 1;
}
ul {
    padding-left: 0;
    margin-bottom: 0;
}
.sub-footer p {
    color: #777;
    margin-bottom: 0;
    padding: 20px 0;
}
footer p {
    line-height: 32px;
    letter-spacing: .03em;
    margin-bottom: 0;
}
.sub-footer .payment-card-bottom {
    height: 100%;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: end;
    justify-content: flex-end;
}
p {
    font-size: 14px;
    color: #777;
    line-height: 1;
}
.sub-footer .payment-card-bottom li {
    padding-left: 7px;
    padding-right: 7px;
    display: inline-block;
}
.container {
    max-width: 1400px;
}